examples/registration-process.json
[
	{
		"id": "5a9b9ecd.a5646",
		"type": "azure-https-device",
		"z": "bf0637c8.40f9c8",
		"name": "Azure IoT HTTPS",
		"deviceId": null
	}, {
		"id": "bdbc39a6.4243c8",
		"type": "websocket-listener",
		"z": "bf0637c8.40f9c8",
		"path": "/ws/gateway",
		"wholemsg": "false"
	}, {
		"id": "1a6d0afd.e592f5",
		"type": "websocket in",
		"z": "bf0637c8.40f9c8",
		"name": "BootUpRequest",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 80.5,
		"y": 40,
		"wires": [["7975f58a.868a0c", "3bbfd60c.c4402a"]
		]
	}, {
		"id": "4e78c3d.fb1873c",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "Initialization",
		"func": "context.global.device = null;\nmsg.method = \"POST\";\nmsg.url = context.global.serverUrl + \"/devices/\" + context.global.deviceId + \"/init\";\nmsg.payload = { \n    \"SerialNumber\": context.global.serialNumber\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 244,
		"y": 104,
		"wires": [["e163793c.1e9c88"]
		]
	}, {
		"id": "7975f58a.868a0c",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "MachinePowerUp",
		"func": "msg.payload = JSON.parse(msg.payload);\nif(msg.payload.type == \"powerUp\") {\n    msg.payload.type = \"setStatus\";\n    msg.payload.data = \"Initializing...\";\n    msg.payload.next = \"INITIATED\";\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 284,
		"y": 40,
		"wires": [["64ded553.9b212c"]
		]
	}, {
		"id": "2f9fa4b5.d0605c",
		"type": "switch",
		"z": "bf0637c8.40f9c8",
		"name": "If Error",
		"property": "error",
		"rules": [
			{
				"t": "nnull"
			}, {
				"t": "null"
			}
		],
		"checkall": "true",
		"outputs": 2,
		"x": 573,
		"y": 104,
		"wires": [["11bce8bf.ee4317"],["df6ac116.20954"]
		]
	}, {
		"id": "11bce8bf.ee4317",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "ConnServerError",
		"func": "msg.payload = {\n    type : \"setStatus\",\n    data : \"Connection to server fail.\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 807,
		"y": 69,
		"wires": [["91a092c0.6e5f7"]
		]
	}, {
		"id": "b66518a8.499ae8",
		"type": "azure-https out",
		"z": "bf0637c8.40f9c8",
		"device": "5a9b9ecd.a5646",
		"x": 444,
		"y": 299,
		"wires": [["1fc0727e.e03f8e"]
		]
	}, {
		"id": "91a092c0.6e5f7",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 990,
		"y": 69,
		"wires": []
	}, {
		"id": "78aac4dd.87553c",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "CheckIfNotInUse",
		"func": "if (context.global.device && context.global.device.DeviceStatus != \"READYTOUSE\") {\n    msg.method = \"GET\";\n    msg.url = context.global.serverUrl + \"/devices/\" + context.global.deviceId + \"?_t=\" + new Date().getTime();\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 254,
		"y": 184,
		"wires": [["e6e29a67.191d68"]
		]
	}, {
		"id": "64ded553.9b212c",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 485,
		"y": 40,
		"wires": []
	}, {
		"id": "5092eddc.af6d14",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "ShowFirstConnection",
		"func": "msg.payload = {\n    type : \"setStatus\",\n    data : \"Testing the first connection to server...\",\n    next : \"READYTOUSE\"\n    };\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 458,
		"y": 359,
		"wires": [["9bf89585.640768"]
		]
	}, {
		"id": "6dae69ff.925198",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "CheckRegistered",
		"func": "if (context.global.device && context.global.device.DeviceStatus == \"REGISTERED\") {\n    msg.method = \"GET\";\n    msg.url = context.global.serverUrl + \"/devices/\" + context.global.deviceId + \"/key?_t=\" + new Date().getTime();\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 251,
		"y": 243,
		"wires": [["1db7ee3f.e24812"]
		]
	}, {
		"id": "9bf89585.640768",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 657,
		"y": 359,
		"wires": []
	}, {
		"id": "5d42f455.a2bd0c",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 819,
		"y": 184,
		"wires": []
	}, {
		"id": "33548e1a.ccab72",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 848,
		"y": 299,
		"wires": []
	}, {
		"id": "1fc0727e.e03f8e",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "ShowTestResult",
		"func": " msg.payload = {\n    type : \"setStatus\",\n    data : \"Send the message to Cloud \" + (msg.status? \"successful.\" : \"failed.\"),\n    next: msg.status ? \"READYTOUSE\" : \"ERROR\"\n};\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 659,
		"y": 299,
		"wires": [["33548e1a.ccab72"]
		]
	}, {
		"id": "c92e5cd8.36d1a",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "SaveDeviceKey",
		"func": "msg.filename = context.global.safeStorage + \"/\" + context.global.deviceId + \"/device.json\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 609,
		"y": 243,
		"wires": [["3f464d0b.c0b9b2", "7089d662.8f7628"]
		]
	}, {
		"id": "a395e933.5c6a18",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "CheckInstalled",
		"func": "if (context.global.device && context.global.device.DeviceStatus == \"INSTALLED\") {\n    msg.payload = { Data : context.global.device };\n    msg.payload.Data.DeviceProperties.ModelNumber = \"LCC-368\";\n    msg.payload.Data.DeviceProperties.UpdatedTime = new Date().toString();\n    msg.payload.Data.DeviceProperties.HubEnabledState = true;\n    msg.payload.Data.DeviceProperties.DeviceState = \"normal\";\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 245,
		"y": 299,
		"wires": [["b66518a8.499ae8", "5092eddc.af6d14"]
		]
	}, {
		"id": "3f464d0b.c0b9b2",
		"type": "file",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"filename": "",
		"appendNewline": false,
		"createDir": true,
		"overwriteFile": "true",
		"x": 780,
		"y": 243,
		"wires": []
	}, {
		"id": "e163793c.1e9c88",
		"type": "http request",
		"z": "bf0637c8.40f9c8",
		"name": "SendInitRequest",
		"method": "use",
		"ret": "txt",
		"url": "",
		"x": 417,
		"y": 104,
		"wires": [["2f9fa4b5.d0605c"]
		]
	}, {
		"id": "1db7ee3f.e24812",
		"type": "http request",
		"z": "bf0637c8.40f9c8",
		"name": "GetDeviceKey",
		"method": "use",
		"ret": "txt",
		"url": "",
		"x": 433,
		"y": 243,
		"wires": [["c92e5cd8.36d1a"]
		]
	}, {
		"id": "e6e29a67.191d68",
		"type": "http request",
		"z": "bf0637c8.40f9c8",
		"name": "GetDeviceData",
		"method": "use",
		"ret": "txt",
		"url": "",
		"x": 436,
		"y": 184,
		"wires": [["e6655c0a.199aa"]
		]
	}, {
		"id": "3c8feb04.c37014",
		"type": "inject",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"topic": "CHECK",
		"payload": "",
		"payloadType": "date",
		"repeat": "1",
		"crontab": "",
		"once": false,
		"x": 85,
		"y": 184,
		"wires": [["78aac4dd.87553c", "6dae69ff.925198", "a395e933.5c6a18", "f633e80a.09cc18", "67f93f7d.9806c"]
		]
	}, {
		"id": "e6655c0a.199aa",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "SaveDeviceModel",
		"func": "if (msg.payload) {\n    context.global.device = JSON.parse(msg.payload).Data;\n    if (context.global.device) {\n        var status = {\n            \"INITIATED\" : \"PIN: \" + context.global.device.PinCode + \" SN: \" + context.global.serialNumber,\n            \"REGISTERED\" : \"The device has been regisreted.\",\n            \"INSTALLED\" : \"The device has been installed.\",\n            \"READYTOUSE\" : \"The device is ready to use.\",\n            \"LOCKED\" : \"The device has been locked.\"\n        }\n        msg.payload = {\n            type: \"setStatus\",\n            data: status[context.global.device.DeviceStatus]\n        }\n        return msg;\n    }\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 630,
		"y": 184,
		"wires": [["5d42f455.a2bd0c"]
		]
	}, {
		"id": "df6ac116.20954",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "SaveDeviceModel",
		"func": "if (msg.payload) {\n    context.global.device = JSON.parse(msg.payload).Data.Device;\n    msg.filename = context.global.safeStorage + \"/\" + context.global.deviceId + \"/device.json\";\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 809,
		"y": 133,
		"wires": [["93feedf.f6c011"]
		]
	}, {
		"id": "93feedf.f6c011",
		"type": "file",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"filename": "",
		"appendNewline": false,
		"createDir": false,
		"overwriteFile": "delete",
		"x": 1007,
		"y": 133,
		"wires": []
	}, {
		"id": "7089d662.8f7628",
		"type": "debug",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 918,
		"y": 241,
		"wires": []
	}, {
		"id": "3bbfd60c.c4402a",
		"type": "delay",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"pauseType": "delay",
		"timeout": "3",
		"timeoutUnits": "seconds",
		"rate": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 94,
		"y": 104,
		"wires": [["4e78c3d.fb1873c"]
		]
	}, {
		"id": "f633e80a.09cc18",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "CheckReadyToUse",
		"func": "if (context.global.device && context.global.device.DeviceStatus == \"READYTOUSE\") {\n    msg.payload = {\n        type: \"setStatus\",\n        data: \"The device is ready to use.\"\n    }\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 257,
		"y": 481,
		"wires": [["50788e94.af877"]
		]
	}, {
		"id": "cc5944d8.33a6b8",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 654,
		"y": 481,
		"wires": []
	}, {
		"id": "67f93f7d.9806c",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "CheckInboundMsg",
		"func": "if (context.global.device && context.global.device.DeviceStatus == \"PENDING\") {\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 255,
		"y": 416,
		"wires": [["fb36811b.04c98"]
		]
	}, {
		"id": "fb36811b.04c98",
		"type": "azure-https in",
		"z": "bf0637c8.40f9c8",
		"device": "5a9b9ecd.a5646",
		"x": 455,
		"y": 416,
		"wires": [["bfa074ef.405f88"]
		]
	}, {
		"id": "d1ce47e3.2e31b8",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 838,
		"y": 416,
		"wires": []
	}, {
		"id": "bfa074ef.405f88",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "ShowTestResult",
		"func": "msg.payload = {\n    type : \"setStatus\",\n    data : \"Receive the message from Cloud \" + (msg.status? \"successful.\" : \"failed.\"),\n    next: msg.status ? \"READYTOUSE\" : \"ERROR\"\n};\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 655,
		"y": 416,
		"wires": [["d1ce47e3.2e31b8"]
		]
	}, {
		"id": "50788e94.af877",
		"type": "azure-https in",
		"z": "bf0637c8.40f9c8",
		"device": "5a9b9ecd.a5646",
		"x": 466,
		"y": 481,
		"wires": [["cc5944d8.33a6b8"]
		]
	}
]