examples/registration-process.json
[
	{
		"id": "5a9b9ecd.a5646",
		"type": "azure-https-device",
		"z": "bf0637c8.40f9c8",
		"name": "Azure IoT HTTPS",
		"deviceId": "6103467D-5EF5-43D3-B5D8-E28FB7DB0F7C"
	}, {
		"id": "bdbc39a6.4243c8",
		"type": "websocket-listener",
		"z": "bf0637c8.40f9c8",
		"path": "/ws/gateway",
		"wholemsg": "false"
	}, {
		"id": "506aef97.af951",
		"type": "https-certificate",
		"z": "bf0637c8.40f9c8",
		"name": "ClientCertificate",
		"certId": "6103467D-5EF5-43D3-B5D8-E28FB7DB0F7C",
		"rejectUnauthorized": false,
		"disabled": true
	}, {
		"id": "f6bfb118.09405",
		"type": "https request",
		"z": "bf0637c8.40f9c8",
		"name": "GetDeviceStatus",
		"certificate": "506aef97.af951",
		"method": "GET",
		"url": "",
		"x": 465,
		"y": 160,
		"wires": [["6dae69ff.925198"]
		]
	}, {
		"id": "1a6d0afd.e592f5",
		"type": "websocket in",
		"z": "bf0637c8.40f9c8",
		"name": "BootUpRequest",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 80.5,
		"y": 40,
		"wires": [["7975f58a.868a0c"]
		]
	}, {
		"id": "4e78c3d.fb1873c",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "IsDeviceInitiated",
		"func": "msg.payload = JSON.parse(msg.payload);\nif (msg.payload.type == \"getStatus\") {\n    msg.method = \"GET\";\n    msg.topic = msg.payload.next || msg.topic;\n    msg.url = context.global.serverUrl + \"device/\" + context.global.deviceId + \"/status/\" + msg.topic;\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 285,
		"y": 104,
		"wires": [["ba2e66f3.45d198"]
		]
	}, {
		"id": "7975f58a.868a0c",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "MachinePowerUp",
		"func": "msg.payload = JSON.parse(msg.payload);\nif(msg.payload.type == \"powerUp\") {\n    msg.payload.type = \"setStatus\";\n    msg.payload.data = \"Initializing...\";\n    msg.payload.next = \"INITIATED\";\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 284,
		"y": 40,
		"wires": [["64ded553.9b212c"]
		]
	}, {
		"id": "2f9fa4b5.d0605c",
		"type": "switch",
		"z": "bf0637c8.40f9c8",
		"name": "If Error",
		"property": "error",
		"rules": [
			{
				"t": "nnull"
			}, {
				"t": "null"
			}
		],
		"checkall": "true",
		"outputs": 2,
		"x": 685,
		"y": 104,
		"wires": [["11bce8bf.ee4317"],["5bfd188b.a402e8"]
		]
	}, {
		"id": "11bce8bf.ee4317",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "ConnServerError",
		"func": "msg.payload = {\n    type : \"setStatus\",\n    data : \"Connection to server fail.\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 866,
		"y": 57,
		"wires": [["91a092c0.6e5f7"]
		]
	}, {
		"id": "5bfd188b.a402e8",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "ShowPinCode",
		"func": "msg.payload = JSON.parse(msg.payload);\nif (msg.payload.status == \"INITIATED\") {\n    var response = \"PIN:\" + msg.payload.pinCode + \" UUID:\" + context.global.deviceId;\n    msg.payload = {\n        type: \"setStatus\",\n        data: response,\n        next: \"REGISTERED\"\n    }\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 867,
		"y": 110,
		"wires": [["91a092c0.6e5f7"]
		]
	}, {
		"id": "ba2e66f3.45d198",
		"type": "https request",
		"z": "bf0637c8.40f9c8",
		"name": "GetDeviceStatus",
		"certificate": "506aef97.af951",
		"method": "GET",
		"url": "",
		"x": 494,
		"y": 104,
		"wires": [["2f9fa4b5.d0605c"]
		]
	}, {
		"id": "ad12f783.52ed08",
		"type": "inject",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"topic": "REGISTERED",
		"payload": "{ \"type\": \"getStatus\", \"next\": \"REGISTERED\" }",
		"payloadType": "string",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 97,
		"y": 160,
		"wires": [["de464ad6.21b9b8"]
		]
	}, {
		"id": "98754db4.678ab",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "ShowInstalledStatus",
		"func": "msg.payload = {\n    type: \"setStatus\",\n    data: \"The device has been installed successful.\",\n    next: \"INSTALLED\"\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1050,
		"y": 214,
		"wires": [["1c8fc318.e3703d"]
		]
	}, {
		"id": "a2a65d55.5d59a",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "ShowReadyToUse",
		"func": "var response = msg.payload;\nmsg.payload = {\n    type: \"setStatus\",\n    data: \"Congratulation! Your device is ready to use.\",\n    next: \"INUSED\"\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 640,
		"y": 333,
		"wires": [["6df96839.920698"]
		]
	}, {
		"id": "714543b2.8ebabc",
		"type": "https request",
		"z": "bf0637c8.40f9c8",
		"name": "GetDeviceKey",
		"certificate": "506aef97.af951",
		"method": "GET",
		"url": "",
		"x": 804,
		"y": 160,
		"wires": [["98754db4.678ab", "c92e5cd8.36d1a"]
		]
	}, {
		"id": "b66518a8.499ae8",
		"type": "azure-https out",
		"z": "bf0637c8.40f9c8",
		"device": "5a9b9ecd.a5646",
		"x": 1196,
		"y": 273,
		"wires": [["b1f17325.4e0e9", "171bf1be.e8e40e"]
		]
	}, {
		"id": "91a092c0.6e5f7",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 1077,
		"y": 90,
		"wires": []
	}, {
		"id": "78aac4dd.87553c",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "SetFirstConnection",
		"func": "msg.payload = JSON.parse(msg.payload);\nif (msg.payload.status == \"INSTALLED\") {\n    msg.filename = context.global.safeStorage + '/' + context.global.deviceId + '/device-info.json';\n    return msg;\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 667,
		"y": 216,
		"wires": [["8e731230.718cf"]
		]
	}, {
		"id": "c6cf53f7.3930b",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "ShowDeviceIsLocked",
		"func": "msg.payload = {\n    type: \"setStatus\",\n    data: \"Your device has been locked due to security reason.\",\n    next: \"INITIATED\"\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 649,
		"y": 385,
		"wires": [["5d42f455.a2bd0c"]
		]
	}, {
		"id": "6df96839.920698",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 842,
		"y": 333,
		"wires": []
	}, {
		"id": "1c8fc318.e3703d",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 1236,
		"y": 214,
		"wires": []
	}, {
		"id": "64ded553.9b212c",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 652,
		"y": 40,
		"wires": []
	}, {
		"id": "de464ad6.21b9b8",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "IsDeviceRegistered",
		"func": "msg.payload = JSON.parse(msg.payload);\nif (msg.payload.type == \"getStatus\") {\n    msg.method = \"GET\";\n    msg.topic = msg.payload.next || msg.topic;\n    msg.url = context.global.serverUrl + \"device/\" + context.global.deviceId + \"/status/\" + msg.topic;\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 283,
		"y": 160,
		"wires": [["f6bfb118.09405"]
		]
	}, {
		"id": "ba905154.456fb",
		"type": "inject",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"topic": "INSTALLED",
		"payload": "{ \"type\": \"getStatus\", \"next\": \"INSTALLED\" }",
		"payloadType": "string",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 92,
		"y": 216,
		"wires": [["c706c5ab.38f938"]
		]
	}, {
		"id": "c706c5ab.38f938",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "IsDeviceInstalled",
		"func": "msg.payload = JSON.parse(msg.payload);\nif (msg.payload.type == \"getStatus\") {\n    msg.method = \"GET\";\n    msg.topic = msg.payload.next || msg.topic;\n    msg.url = context.global.serverUrl + \"device/\" + context.global.deviceId + \"/status/\" + msg.topic;\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 281,
		"y": 216,
		"wires": [["f74a54aa.08b5a8"]
		]
	}, {
		"id": "5092eddc.af6d14",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "ShowFirstConnection",
		"func": "msg.payload = JSON.parse(msg.payload);\nif (msg.payload.status == \"INSTALLED\") {\n    msg.payload = {\n        type : \"setStatus\",\n        data : \"Testing the first connection to server...\",\n        next : \"READYTOUSE\"\n    };\n    return msg;\n}\nreturn null;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 659,
		"y": 268,
		"wires": [["9bf89585.640768"]
		]
	}, {
		"id": "c7d093e7.382f7",
		"type": "inject",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"topic": "READYTOUSE",
		"payload": "{ \"type\": \"getStatus\", \"next\": \"READYTOUSE\" }",
		"payloadType": "string",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 101,
		"y": 333,
		"wires": [["d18a1fec.2e75e"]
		]
	}, {
		"id": "d18a1fec.2e75e",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "IsDeviceReady",
		"func": "msg.payload = JSON.parse(msg.payload);\nif (msg.payload.type == \"getStatus\") {\n    msg.method = \"GET\";\n    msg.topic = msg.payload.next || msg.topic;\n    msg.url = context.global.serverUrl + \"device/\" + context.global.deviceId + \"/status/\" + msg.topic;\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 269,
		"y": 333,
		"wires": [["1898534f.e767ad"]
		]
	}, {
		"id": "465dc31f.b9a23c",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "IsDeviceLocked",
		"func": "msg.payload = JSON.parse(msg.payload);\nif (msg.payload.type == \"getStatus\") {\n    msg.method = \"GET\";\n    msg.topic = msg.payload.next || msg.topic;\n    msg.url = context.global.serverUrl + \"device/\" + context.global.deviceId + \"/status/\" + msg.topic;\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 274,
		"y": 385,
		"wires": [["4c39efbf.b3c61"]
		]
	}, {
		"id": "b90e068c.46f1f8",
		"type": "inject",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"topic": "LOCKED",
		"payload": "{ \"type\": \"getStatus\", \"next\": \"LOCKED\" }",
		"payloadType": "string",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 82,
		"y": 385,
		"wires": [["465dc31f.b9a23c"]
		]
	}, {
		"id": "f1cebdd0.0e314",
		"type": "inject",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"topic": "INITIATED",
		"payload": "{ \"type\": \"getStatus\", \"next\": \"INITIATED\" }",
		"payloadType": "string",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 87,
		"y": 104,
		"wires": [["4e78c3d.fb1873c"]
		]
	}, {
		"id": "6dae69ff.925198",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "SetKeyRequest",
		"func": "msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.serverUrl + \"device/\" + context.global.deviceId + \"/key\";\nif (msg.payload.status == \"REGISTERED\") {\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 636,
		"y": 160,
		"wires": [["714543b2.8ebabc"]
		]
	}, {
		"id": "f74a54aa.08b5a8",
		"type": "https request",
		"z": "bf0637c8.40f9c8",
		"name": "GetDeviceStatus",
		"certificate": "506aef97.af951",
		"method": "GET",
		"url": "",
		"x": 463,
		"y": 216,
		"wires": [["78aac4dd.87553c", "5092eddc.af6d14"]
		]
	}, {
		"id": "9bf89585.640768",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 847,
		"y": 268,
		"wires": []
	}, {
		"id": "1898534f.e767ad",
		"type": "https request",
		"z": "bf0637c8.40f9c8",
		"name": "GetDeviceStatus",
		"certificate": "506aef97.af951",
		"method": "GET",
		"url": "",
		"x": 447,
		"y": 333,
		"wires": [["a2a65d55.5d59a"]
		]
	}, {
		"id": "4c39efbf.b3c61",
		"type": "https request",
		"z": "bf0637c8.40f9c8",
		"name": "GetDeviceStatus",
		"certificate": "506aef97.af951",
		"method": "GET",
		"url": "",
		"x": 453,
		"y": 385,
		"wires": [["c6cf53f7.3930b"]
		]
	}, {
		"id": "5d42f455.a2bd0c",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 838,
		"y": 385,
		"wires": []
	}, {
		"id": "33548e1a.ccab72",
		"type": "websocket out",
		"z": "bf0637c8.40f9c8",
		"name": "ShowStatus",
		"server": "bdbc39a6.4243c8",
		"client": "",
		"x": 1695,
		"y": 273,
		"wires": []
	}, {
		"id": "1fc0727e.e03f8e",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "ShowTestResult",
		"func": " msg.payload = {\n    type : \"setStatus\",\n    data : \"Tested the first connection \" + (msg.status? \"successful.\" : \"failed.\"),\n    next: msg.status ? \"READYTOUSE\" : \"ERROR\"\n};\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 1527,
		"y": 273,
		"wires": [["33548e1a.ccab72"]
		]
	}, {
		"id": "430eb5c5.bcf14c",
		"type": "delay",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"pauseType": "delay",
		"timeout": "2",
		"timeoutUnits": "seconds",
		"rate": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 476,
		"y": 38,
		"wires": [[]
		]
	}, {
		"id": "b1f17325.4e0e9",
		"type": "delay",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"pauseType": "delay",
		"timeout": "2",
		"timeoutUnits": "seconds",
		"rate": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 1368,
		"y": 273,
		"wires": [["1fc0727e.e03f8e"]
		]
	}, {
		"id": "171bf1be.e8e40e",
		"type": "debug",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "true",
		"x": 1363,
		"y": 328,
		"wires": []
	}, {
		"id": "c92e5cd8.36d1a",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "SaveDeviceKey",
		"func": "msg.filename = context.global.safeStorage + \"/\" + context.global.deviceId + \"/device.json\";\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1033,
		"y": 160,
		"wires": [["3f464d0b.c0b9b2"]
		]
	}, {
		"id": "a395e933.5c6a18",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "GetDeviceInfo",
		"func": "msg.payload = JSON.parse(msg.payload);\nmsg.payload.DeviceProperties.ModelNumber = \"LCC-368\";\nmsg.payload.DeviceProperties.DeviceID = context.global.deviceId;\nmsg.payload.DeviceProperties.UpdatedTime = new Date().toString();\nmsg.payload.DeviceProperties.HubEnabledState = false;\nmsg.payload.DeviceProperties.DeviceState = \"pending\";\nmsg.payload.DeviceProperties.Latitude = 32.9480556;\nmsg.payload.DeviceProperties.Longitude = -96.7294444;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1024,
		"y": 273,
		"wires": [["b66518a8.499ae8"]
		]
	}, {
		"id": "3f464d0b.c0b9b2",
		"type": "file",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"filename": "",
		"appendNewline": false,
		"createDir": true,
		"overwriteFile": "true",
		"x": 1350,
		"y": 160,
		"wires": []
	}, {
		"id": "8e731230.718cf",
		"type": "file in",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"filename": "",
		"format": "utf8",
		"x": 840,
		"y": 216,
		"wires": [["a395e933.5c6a18"]
		]
	}, {
		"id": "21e49476.de1b6c",
		"type": "inject",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"topic": "",
		"payload": "{ \"status\": \"INSTALLED\" }",
		"payloadType": "string",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 1252,
		"y": 29,
		"wires": [["ef5b8653.10a478"]
		]
	}, {
		"id": "ef5b8653.10a478",
		"type": "function",
		"z": "bf0637c8.40f9c8",
		"name": "",
		"func": "msg.filename = context.global.safeStorage + \"/\" + context.global.deviceId + \"/device.json\";\nmsg.payload = {\n    \"HostName\": \"LennoxLBAS-Hub.azure-devices.net\",\n    \"DeviceId\": \"6103467D-5EF5-43D3-B5D8-E28FB7DB0F7C\",\n    \"SharedAccessKeyName\" : \"device\",\n    \"PrimaryKey\": \"u8iOK9dJJi2shUPnBNFzRQ==\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1249,
		"y": 96,
		"wires": [["3f464d0b.c0b9b2"]
		]
	}
]