examples/registration-process.json
[
	{
		"id": "9fc954b2.6036a8",
		"type": "websocket-listener",
		"z": "20106f59.dfef9",
		"path": "/ws/gateway",
		"wholemsg": "false"
	}, {
		"id": "52b03f54.ad4fc",
		"type": "websocket in",
		"z": "20106f59.dfef9",
		"name": "BootUpRequest",
		"server": "9fc954b2.6036a8",
		"client": "",
		"x": 85,
		"y": 30,
		"wires": [["13bbb79d.ec4448", "dbe90763.2416f8"]
		]
	}, {
		"id": "b0727844.4f8d88",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "Initialization",
		"func": "context.global.device = null;\nmsg.method = \"POST\";\nmsg.url = context.global.serverUrl + \"/devices/\" + context.global.deviceId + \"/init\";\nmsg.payload = { \n    \"SerialNumber\": context.global.serialNumber\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 248.5,
		"y": 94,
		"wires": [["df05964e.20fa68"]
		]
	}, {
		"id": "13bbb79d.ec4448",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "MachinePowerUp",
		"func": "msg.payload = JSON.parse(msg.payload);\nif(msg.payload.type == \"powerUp\") {\n    msg.payload.type = \"setStatus\";\n    msg.payload.data = \"Initializing...\";\n    msg.payload.next = \"INITIATED\";\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 288.5,
		"y": 30,
		"wires": [["b089bff8.4f764"]
		]
	}, {
		"id": "cce5e33c.331a2",
		"type": "switch",
		"z": "20106f59.dfef9",
		"name": "If Error",
		"property": "error",
		"rules": [
			{
				"t": "nnull"
			}, {
				"t": "null"
			}
		],
		"checkall": "true",
		"outputs": 2,
		"x": 577.5,
		"y": 94,
		"wires": [["add35b2f.522ca8"],["ae9449d.f516bb8"]
		]
	}, {
		"id": "add35b2f.522ca8",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "ConnServerError",
		"func": "msg.payload = {\n    type : \"setStatus\",\n    data : \"Connection to server fail.\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 811.5,
		"y": 59,
		"wires": [["fd4209d6.02bdf8"]
		]
	}, {
		"id": "9b085676.64f7a8",
		"type": "azure-https out",
		"z": "20106f59.dfef9",
		"name": "SendAzureHub",
		"deviceId": "00000-DEV-6C-60491LK-62705D-69827",
		"x": 609.5,
		"y": 289,
		"wires": [["c7ec256d.3813d8"]
		]
	}, {
		"id": "fd4209d6.02bdf8",
		"type": "websocket out",
		"z": "20106f59.dfef9",
		"name": "ShowStatus",
		"server": "9fc954b2.6036a8",
		"client": "",
		"x": 994.5,
		"y": 59,
		"wires": []
	}, {
		"id": "902998c.f6fd668",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "CheckIfNotInUse",
		"func": "if (!context.global.device || (context.global.device && context.global.device.DeviceStatus != \"READYTOUSE\")) {\n    msg.method = \"GET\";\n    msg.url = context.global.serverUrl + \"/devices/\" + context.global.deviceId + \"?_t=\" + new Date().getTime();\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 258.5,
		"y": 174,
		"wires": [["ebc50192.143b"]
		]
	}, {
		"id": "b089bff8.4f764",
		"type": "websocket out",
		"z": "20106f59.dfef9",
		"name": "ShowStatus",
		"server": "9fc954b2.6036a8",
		"client": "",
		"x": 489.5,
		"y": 30,
		"wires": []
	}, {
		"id": "53589355.aca76c",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "ShowFirstConnection",
		"func": "msg.payload = {\n    type : \"setStatus\",\n    data : \"Testing the first connection to server...\",\n    next : \"READYTOUSE\"\n    };\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 462.5,
		"y": 349,
		"wires": [["a69c0d1b.5963f"]
		]
	}, {
		"id": "1061aa27.ef9e56",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "CheckRegistered",
		"func": "if (context.global.device && context.global.device.DeviceStatus == \"REGISTERED\") {\n    msg.method = \"GET\";\n    msg.url = context.global.serverUrl + \"/devices/\" + context.global.deviceId + \"/key?_t=\" + new Date().getTime();\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 255.5,
		"y": 233,
		"wires": [["66f3ad61.990c54"]
		]
	}, {
		"id": "a69c0d1b.5963f",
		"type": "websocket out",
		"z": "20106f59.dfef9",
		"name": "ShowStatus",
		"server": "9fc954b2.6036a8",
		"client": "",
		"x": 661.5,
		"y": 349,
		"wires": []
	}, {
		"id": "4389f00f.bc761",
		"type": "websocket out",
		"z": "20106f59.dfef9",
		"name": "ShowStatus",
		"server": "9fc954b2.6036a8",
		"client": "",
		"x": 823.5,
		"y": 174,
		"wires": []
	}, {
		"id": "a8b4ed8b.574b1",
		"type": "websocket out",
		"z": "20106f59.dfef9",
		"name": "ShowStatus",
		"server": "9fc954b2.6036a8",
		"client": "",
		"x": 989.5,
		"y": 289,
		"wires": []
	}, {
		"id": "c7ec256d.3813d8",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "ShowTestResult",
		"func": " msg.payload = {\n    type : \"setStatus\",\n    data : \"Send the message to Cloud \" + (msg.error? \"failed.\" : \"successful.\"),\n    next: msg.error ? \"ERROR\" : \"READYTOUSE\"\n};\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 820.5,
		"y": 289,
		"wires": [["a8b4ed8b.574b1"]
		]
	}, {
		"id": "9dd12fb5.622ed",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "SaveDeviceKey",
		"func": "msg.filename = context.global.safeStorage + \"/\" + context.global.deviceId + \"/device.json\";\nvar deviceKey = JSON.parse(msg.payload).Data;\nmsg.payload = {\n\t\"HostName\": deviceKey.Host_Name,\n\t\"DeviceId\": deviceKey.Device_Id,\n\t\"SharedAccessKeyName\": \"device\",\n\t\"PrimaryKey\": deviceKey.Primary_Key\n}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 613.5,
		"y": 233,
		"wires": [["bfef45d3.4010b8", "9ee8b0e7.61175"]
		]
	}, {
		"id": "2cce765a.d3318a",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "CheckInstalled",
		"func": "if (context.global.device && context.global.device.DeviceStatus == \"INSTALLED\") {\n    delete msg.topic;\n    msg.payload = { \n        \"DeviceProperties\": {\n            \"DeviceID\": \"6103467D-5EF5-43D3-B5D8-E28FB7DB0F7C\",\n            \"HubEnabledState\": true,\n            \"CreatedTime\": \"2016-01-02T01:12:51.4185559Z\",\n            \"UpdatedTime\": \"2016-01-02T01:45:30.865582Z\",\n            \"Manufacturer\": \"Lennox International Inc.,\",\n            \"ModelNumber\": \"MD-365\",\n            \"SerialNumber\": \"SER1081\",\n            \"FirmwareVersion\": \"1.96\",\n            \"Platform\": \"Plat-64\",\n            \"Processor\": \"i3-595\",\n            \"InstalledRAM\": \"65 MB\",\n            \"Latitude\": 47.593307,\n            \"Longitude\": -122.332165\n        },\n        \"Commands\": [\n          {\n            \"Name\": \"PingDevice\",\n            \"Parameters\": null\n          },\n          {\n            \"Name\": \"StartTelemetry\",\n            \"Parameters\": null\n          },\n          {\n            \"Name\": \"StopTelemetry\",\n            \"Parameters\": null\n          },\n          {\n            \"Name\": \"ChangeSetPointTemp\",\n            \"Parameters\": [\n              {\n                \"Name\": \"SetPointTemp\",\n                \"Type\": \"double\"\n              }\n            ]\n          },\n          {\n            \"Name\": \"DiagnosticTelemetry\",\n            \"Parameters\": [\n              {\n                \"Name\": \"Active\",\n                \"Type\": \"boolean\"\n              }\n            ]\n          },\n          {\n            \"Name\": \"ChangeDeviceState\",\n            \"Parameters\": [\n              {\n                \"Name\": \"DeviceState\",\n                \"Type\": \"string\"\n              }\n            ]\n          }\n        ],\n        \"CommandHistory\": [],\n        \"ObjectType\": \"DeviceInfo\",\n        \"Version\": \"1.0\"\n    };\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 249.5,
		"y": 289,
		"wires": [["53589355.aca76c", "6f43810f.90bc8"]
		]
	}, {
		"id": "bfef45d3.4010b8",
		"type": "file",
		"z": "20106f59.dfef9",
		"name": "SafeStorage",
		"filename": "",
		"appendNewline": false,
		"createDir": true,
		"overwriteFile": "true",
		"x": 787.5,
		"y": 233,
		"wires": []
	}, {
		"id": "df05964e.20fa68",
		"type": "http request",
		"z": "20106f59.dfef9",
		"name": "SendInitRequest",
		"method": "use",
		"ret": "txt",
		"url": "",
		"certId": "6103467D-5EF5-43D3-B5D8-E28FB7DB0F7C",
		"rejectUnauthorized": true,
		"tlsClientAuthentication": true,
		"x": 421.5,
		"y": 94,
		"wires": [["cce5e33c.331a2"]
		]
	}, {
		"id": "66f3ad61.990c54",
		"type": "http request",
		"z": "20106f59.dfef9",
		"name": "GetDeviceKey",
		"method": "use",
		"ret": "txt",
		"url": "",
		"certId": "6103467D-5EF5-43D3-B5D8-E28FB7DB0F7C",
		"rejectUnauthorized": false,
		"tlsClientAuthentication": true,
		"x": 437.5,
		"y": 233,
		"wires": [["9dd12fb5.622ed"]
		]
	}, {
		"id": "ebc50192.143b",
		"type": "http request",
		"z": "20106f59.dfef9",
		"name": "GetDeviceData",
		"method": "use",
		"ret": "txt",
		"url": "",
		"certId": "6103467D-5EF5-43D3-B5D8-E28FB7DB0F7C",
		"rejectUnauthorized": true,
		"tlsClientAuthentication": true,
		"x": 440.5,
		"y": 174,
		"wires": [["6b6ddf13.94922"]
		]
	}, {
		"id": "48f826b0.b707d8",
		"type": "inject",
		"z": "20106f59.dfef9",
		"name": "",
		"topic": "LOOP",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 89.5,
		"y": 174,
		"wires": [["902998c.f6fd668", "1061aa27.ef9e56", "2cce765a.d3318a", "5fd51b66.a02ae4", "f0f1a8dd.0f0e58"]
		]
	}, {
		"id": "6b6ddf13.94922",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "SaveDeviceModel",
		"func": "if (msg.payload) {\n    context.global.device = JSON.parse(msg.payload).Data;\n    if (context.global.device && context.global.device.DeviceStatus != \"INSTALLED\") {\n        var status = {\n            \"NEW\" : \"The device is renewed. Reboot to initialize...\",\n            \"INITIATED\" : \"PIN: \" + context.global.device.PinCode + \" SN: \" + context.global.serialNumber,\n            \"REGISTERED\" : \"The device has been regisreted.\",\n            \"INSTALLED\" : \"The device has been installed.\",\n            \"READYTOUSE\" : \"The device is ready to use.\",\n            \"LOCKED\" : \"The device has been locked.\"\n        }\n        msg.payload = {\n            type: \"setStatus\",\n            data: status[context.global.device.DeviceStatus]\n        }\n        return msg;\n    }\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 634.5,
		"y": 174,
		"wires": [["4389f00f.bc761"]
		]
	}, {
		"id": "ae9449d.f516bb8",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "SaveDeviceModel",
		"func": "if (msg.payload) {\n    var device = JSON.parse(msg.payload).Data.Device;\n    if (device && device.DeviceStatus) {\n        context.global.device = device;\n        msg.filename = context.global.safeStorage + \"/\" + context.global.deviceId + \"/device.json\";\n        return msg;\n    }\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 813.5,
		"y": 123,
		"wires": [["de9913cc.2166f", "83acf23b.7c531"]
		]
	}, {
		"id": "83acf23b.7c531",
		"type": "file",
		"z": "20106f59.dfef9",
		"name": "CleanUp",
		"filename": "",
		"appendNewline": false,
		"createDir": false,
		"overwriteFile": "delete",
		"x": 1011.5,
		"y": 123,
		"wires": []
	}, {
		"id": "9ee8b0e7.61175",
		"type": "debug",
		"z": "20106f59.dfef9",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 955.5,
		"y": 232,
		"wires": []
	}, {
		"id": "dbe90763.2416f8",
		"type": "delay",
		"z": "20106f59.dfef9",
		"name": "",
		"pauseType": "delay",
		"timeout": "3",
		"timeoutUnits": "seconds",
		"rate": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 98.5,
		"y": 94,
		"wires": [["b0727844.4f8d88"]
		]
	}, {
		"id": "5fd51b66.a02ae4",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "CheckReadyToUse",
		"func": "if (context.global.device && context.global.device.DeviceStatus == \"READYTOUSE\") {\n    msg.payload = {\n        type: \"setStatus\",\n        data: \"The device is ready to use.\"\n    }\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 261.5,
		"y": 471,
		"wires": [["b85a67aa.47a598"]
		]
	}, {
		"id": "a806a101.57f96",
		"type": "websocket out",
		"z": "20106f59.dfef9",
		"name": "ShowStatus",
		"server": "9fc954b2.6036a8",
		"client": "",
		"x": 844.5,
		"y": 471,
		"wires": []
	}, {
		"id": "f0f1a8dd.0f0e58",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "CheckInboundMsg",
		"func": "if (context.global.device && context.global.device.DeviceStatus == \"PENDING\") {\n    return msg;\n}\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 259.5,
		"y": 406,
		"wires": [["9bc7ed77.64381"]
		]
	}, {
		"id": "9bc7ed77.64381",
		"type": "azure-https in",
		"z": "20106f59.dfef9",
		"name": "ReceiveAzureHub",
		"deviceId": "00000-DEV-6C-60491LK-62705D-69827",
		"x": 466.5,
		"y": 406,
		"wires": [["9e15c984.61ea38", "b6950a44.496af8"]
		]
	}, {
		"id": "9bcbb510.643448",
		"type": "websocket out",
		"z": "20106f59.dfef9",
		"name": "ShowStatus",
		"server": "9fc954b2.6036a8",
		"client": "",
		"x": 842.5,
		"y": 406,
		"wires": []
	}, {
		"id": "9e15c984.61ea38",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "ShowTestResult",
		"func": " msg.payload = {\n    type : \"setStatus\",\n    data : \"Receive the message from Cloud \" + (msg.error? \"failed.\" : \"successful.\"),\n    next: msg.error ? \"ERROR\" : \"READYTOUSE\"\n};\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 659.5,
		"y": 406,
		"wires": [["9bcbb510.643448"]
		]
	}, {
		"id": "de9913cc.2166f",
		"type": "debug",
		"z": "20106f59.dfef9",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 1032.5,
		"y": 176,
		"wires": []
	}, {
		"id": "b6950a44.496af8",
		"type": "debug",
		"z": "20106f59.dfef9",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "payload.Name",
		"x": 1010.5,
		"y": 406,
		"wires": []
	}, {
		"id": "b85a67aa.47a598",
		"type": "azure-https out",
		"z": "20106f59.dfef9",
		"name": "SendAzureHub",
		"deviceId": "00000-DEV-6C-60491LK-62705D-69827",
		"x": 461,
		"y": 471,
		"wires": [["87778d44.78887"]
		]
	}, {
		"id": "87778d44.78887",
		"type": "function",
		"z": "20106f59.dfef9",
		"name": "ShowTestResult",
		"func": " msg.payload = {\n    type : \"setStatus\",\n    data : \"Receive the message from Cloud \" + (msg.error? \"failed.\" : \"successful.\"),\n    next: msg.error ? \"ERROR\" : \"READYTOUSE\"\n};\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 663,
		"y": 471,
		"wires": [["a806a101.57f96"]
		]
	}, {
		"id": "6f43810f.90bc8",
		"type": "delay",
		"z": "20106f59.dfef9",
		"name": "",
		"pauseType": "delay",
		"timeout": "3",
		"timeoutUnits": "seconds",
		"rate": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 423.5,
		"y": 289,
		"wires": [["9b085676.64f7a8"]
		]
	}
]