examples/thing-shadow-example.json
[
	{
		"id": "e409d93.f1bf628",
		"type": "aws-iot-device",
		"z": "d2a1d1.ff2d5e3",
		"name": "shadow-002",
		"mode": "shadow",
		"clientId": "Device-002",
		"certsId": "4b3f24b626",
		"region": "ap-northeast-1"
	}, {
		"id": "7c63bc55.839c44",
		"type": "aws-iot-device",
		"z": "d2a1d1.ff2d5e3",
		"name": "Device-001",
		"mode": "broker",
		"clientId": "Device-001",
		"certsId": "47d4932ed6",
		"region": "ap-northeast-1"
	}, {
		"id": "e7133705.18ecc8",
		"type": "aws-mqtt in",
		"z": "d2a1d1.ff2d5e3",
		"device": "7c63bc55.839c44",
		"topic": "$aws/things/#",
		"x": 374,
		"y": 184,
		"wires": [["1819198a.e7e6e6"]
		]
	}, {
		"id": "82571a82.7da8e8",
		"type": "inject",
		"z": "d2a1d1.ff2d5e3",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 138,
		"y": 91,
		"wires": [["df78d855.208728"]
		]
	}, {
		"id": "f4113be9.0beec8",
		"type": "debug",
		"z": "d2a1d1.ff2d5e3",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 564,
		"y": 32,
		"wires": []
	}, {
		"id": "a929b185.56d65",
		"type": "debug",
		"z": "d2a1d1.ff2d5e3",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 663,
		"y": 364,
		"wires": []
	}, {
		"id": "21423ba9.debdc4",
		"type": "inject",
		"z": "d2a1d1.ff2d5e3",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 138,
		"y": 239,
		"wires": [["6c80fc33.937f04"]
		]
	}, {
		"id": "6c80fc33.937f04",
		"type": "function",
		"z": "d2a1d1.ff2d5e3",
		"name": "desired:RED",
		"func": "msg.payload = {\n    state: {\n        desired: {\n            color: \"RED\"\n        }\n    }\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 141,
		"y": 331,
		"wires": [["53b8fc8.fac4704"]
		]
	}, {
		"id": "552de8fb.aad218",
		"type": "inject",
		"z": "d2a1d1.ff2d5e3",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 141,
		"y": 404,
		"wires": [["21394f2e.dec6b"]
		]
	}, {
		"id": "21394f2e.dec6b",
		"type": "function",
		"z": "d2a1d1.ff2d5e3",
		"name": "reported:RED",
		"func": "msg.payload = {\n    state: {\n        reported: {\n            color: \"RED\"\n        }\n    }\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 132,
		"y": 494,
		"wires": [["53b8fc8.fac4704"]
		]
	}, {
		"id": "f3eddd4b.0c122",
		"type": "inject",
		"z": "d2a1d1.ff2d5e3",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 136,
		"y": 570,
		"wires": [["a6f9206d.5906e"]
		]
	}, {
		"id": "a6f9206d.5906e",
		"type": "function",
		"z": "d2a1d1.ff2d5e3",
		"name": "reported:GREEN",
		"func": "msg.payload = {\n    state: {\n        reported: {\n            color: \"GREEN\"\n        }\n    }\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 139,
		"y": 662,
		"wires": [["53b8fc8.fac4704"]
		]
	}, {
		"id": "1819198a.e7e6e6",
		"type": "debug",
		"z": "d2a1d1.ff2d5e3",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 625,
		"y": 244,
		"wires": []
	}, {
		"id": "df78d855.208728",
		"type": "aws-thing",
		"z": "d2a1d1.ff2d5e3",
		"device": "e409d93.f1bf628",
		"method": "get",
		"x": 378,
		"y": 91,
		"wires": [["f4113be9.0beec8"],["196487b3.e69b78"]
		]
	}, {
		"id": "53b8fc8.fac4704",
		"type": "aws-thing",
		"z": "d2a1d1.ff2d5e3",
		"device": "e409d93.f1bf628",
		"method": "update",
		"x": 406,
		"y": 418,
		"wires": [["a929b185.56d65"],["c29732b6.3d68d"]
		]
	}, {
		"id": "c29732b6.3d68d",
		"type": "file",
		"z": "d2a1d1.ff2d5e3",
		"name": "Logs",
		"filename": "~/aws-thing-002/logs",
		"appendNewline": true,
		"createDir": true,
		"overwriteFile": "false",
		"x": 569,
		"y": 527,
		"wires": []
	}, {
		"id": "196487b3.e69b78",
		"type": "file",
		"z": "d2a1d1.ff2d5e3",
		"name": "Logs",
		"filename": "~/aws-thing-002/logs",
		"appendNewline": true,
		"createDir": true,
		"overwriteFile": "false",
		"x": 592,
		"y": 124,
		"wires": []
	}
]